<%# <img  class="hero-image" src="image/hpage2.jpg" >
<header class="cooks">The Time Line</header>
<div class="hero-text"> <h1>Home Grown</h1>
</div> %>

<section id="family-entry" class=>    
<div class="row">
    <div class="col s6">
    
<header><nav>Introduction 1964</nav></header>
<p>Rey & Bake started as a small little bakery shop in my grandmothers house. She was 
the local candy lady back in the 60's. The thing that made her set apart from the 
others, is the fact that she didn't sell candy. She loved to bake, and baking is 
what she did best. On any given Sunday, if we weren't in church, she was at home baking.
She opened her first shop next to the house, believing it was going to be a small bakery
stand. Not really business minded, but she was a hard worker being dedicated to what She
loved most. Baking cakes and making money.
</p>
    </div>
    <div class="col s6">
    <img src="image/candy-lady.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col s6">
<header><nav>The inception of "Rey & Bake" 1991</nav> </header>
<p>Rey was born in the 60's. He was around 3 years old when his mother started to bake
on a bigger scale. Rey was a very inquisitive child, always wondering and pondering the if's,
why's, and how's. He excelled academically, and knew he wanted more. He one dream was for his 
mother's hard work to be paid off. As an imigrant coming to America, the struggle was hard for 
her and her family. Rey knew this, graduated college and devouted his life to enhance this store.
He grew it from small time in Flatbush, to having a corner next to the World Trade Center. 
</p>
    </div>
    <div class="col s6">
        <img src="image/best-build.jpg" alt="">
    </div>
</div>
</section>
<section>




