<img  class="hero-image cover" src="/image/great2.jpg" />
<div class="hero-text">
<h1>Depressed? Buy a cake</h1>
</div>

<section>
    <header class="cakes"><nav>Chocolate will make your heart warm.</nav>
    </header>
    <div class="container">
        <div class="row">
              <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/volcano1.jpg">
        </div>
        <div class="card-price"> $8
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
        <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/volcano25.jpg">
        </div>
        <div class="card-price"> $65
        </div>
        <div class="card-content">
          <p>We have created the swirls for swirley swirls. If you stare, you might get dizzy.
          Every swirl has a mashmallow baked within.</p>
        </div>
      </div>
    </div>
        <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/great.jpg">
        </div>
        <div class="card-price"> $35
        </div>
        <div class="card-content">
          <p>
          It contains coconut milk, nuts, and fudge drizzled on top. Contained inside is a layer of frosting.</p>
        </div>
      </div>
    </div>
        </div>
    </div>
</section>
<section>
    <header class="cakes"><nav>Make your wedding perfect.</nav></header>
    <div class="container">
        <div class="row">
         <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/wedding.jpg">
        </div>
        <div class="card-price"> $110
        </div>
        <div class="card-content">
          <p>Our cakes are designed with one idea in mind, "Perfection." </p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/wedding2.jpg">
        </div>
        <div class="card-price"> $107
        </div>
        <div class="card-content">
          <p>We can make wedding cakes themed to your desire.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/wedding3.jpg">
        </div>
        <div class="card-price"> $200
        </div>
        <div class="card-content">
          <p>Our best cake in our store...</p>
        </div>
      </div>
    </div>
        </div>
    </div>
</section>

<section>
    <header class="cakes"><nav>Christmas in whatever month you want</nav></header>
    <div class="container">
        <div class="row">
             <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/christmas.jpg">
        </div>
        <div class="card-price"> $96
        </div>
        <div class="card-content">
          <p>This is a classic Christmas cake with chocolate insides. This cake is made
          special because of the ginger bread men on top. They smile as you bite down.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/christmas2.jpg">
        </div>
        <div class="card-price"> $99
        </div>
        <div class="card-content">
          <p>This beatiful four tier wedding cake has a 
          clean design all through out each tier. Having the top three
           tiers in a white fondant smooth base with a thin navy blue 
           ribbon on each tier to add the perfect amount of color.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/christmas3.jpg">
        </div>
        <div class="card-price"> $101
        </div>
        <div class="card-content">
          <p>This cake is made to order, customly designed. Its a one dimensional cake, and convenient to make while still maintaining high quality.</p>
        </div>
      </div>
    </div>
        </div>
    </div>
</section>
