<h1>Featured Items</hi>
<h2>Muffins</h2>
<ul>
    <li>Hershey cup cake $6-$8 </li>
    <li>Berry cup cakes $3-$8</li>
    <li>NY cup cakes $5</li>
    </ul>
<h2>cakes</h2>
<ul>
    <li>chocolate cakes $8-$35</li>
    <li>Wedding cakes $107-$200</li>
    <li>christmas cakes $96-$101</li>
<h2>Cookies</h2>
<ul>
    <li>Chocolate Cookies $4-$7</li>
    <li>Walnut Cookies $7</li>
    <li>Butter Cookies $5-$7</li>
</ul>