
		<img  class="hero-image cover" src="/image/beautifulcho.jpg" >
	    <div class="hero-text">
        <h1>Cookies are the receipe for happiness.
        </h1>
    </div>
	
    
  
<section id="cookie1">
<section>
  <header class="cakes"><nav>Chocolate <strong>Chocolate</strong></nav></header>
    <div class="container">
      <div class="row">
        <div id="space" class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="image/beautifulcho.jpg">
            </div>
            <div class="card-price"> $110
            </div>
            <div class="card-content">
              <p>Our cookies are designed with one idea in mind, Chocolate!!. </p>
            </div>
          </div>
        </div>

    <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/bischo.jpg">
        </div>
        <div class="card-price"> $4
        </div>
        <div class="card-content">
          <p>A popular choice when its cold outside.
          </p>
        </div>
      </div>
    </div>
    
    <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/chocrazy.jpg">
        </div>
        <div class="card-price"> $6
        </div>
        <div class="card-content">
          <p>Some people choose vanilla, some choose butter. But when you like
          chocolate. <h "............" <strong>God thats so good, where's the milk</strong></p>
        </div>
      </div>
    </div>       
</section>

<section>
<header><nav>Walnut Cookies</nav></header>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="almond2.jpg">
        </div>
        <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>The walnut has much speculation and superstitions surrounding it.
          This walnut is home-grown and taken from a tree in a garden specific for this.
         This cookie has been in our family for generations, our store is recent.</p>
        </div>
      </div>
    </div>
      <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="almond1.jpg">
        </div>
        <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>Walnuts are great when youWhen you are really in the mood to be healthy or vegan for a day.
           This cookie is your first choice. What makes it special is the process of making it.
          We are dedicated to the quality of everything</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="almond3.jpg">
        </div>
        <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>Fermented Rasberry juice, is always a nice addition. Delicately made to fulfile every graving
          with a burst of rasberry in your mouth. The consistency of flavor is an art of ours.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</section>

<section>
<header class="cookies">
    <nav>
    Butter + Cookies = Life
    </nav>
</header>
  <div class="container">
    <div class="row">
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="butter5.jpg">
        </div>
        <div class="card-price"> $6
        </div>
        <div class="card-content">
          <p>This is one of our many specialty cookies. A premium among our teenager
          shoopers, our butter cookies are the most favorite. We design according to your
          desire.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="butter3.jpg">
        </div>
        <div class="card-price"> $5
        </div>
        <div class="card-content">
          <p>Figs rule the world for some. Made with real fruit with 
          a surrounding warm, made from butter scratch. </p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="butter4.jpg">
        </div>
        <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>My grandmother had a specialty, that she through in our faces everytime
          we had some sort of celebration. We had butter cookies constantly. </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
            
<section>
    <header>
    </header>
