<nav>Enter Your Email Below</nav>
<div class="container"> We have been very dedicated and devoted to our customers.<br>
We would like to hear any feed-back or suggestions that <br>you may have for us to improve our
services. 
</div>
<form action="/" method="post">
<input type="text" name="email" placeholder="Enter Your Email Here">
</form>




