<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Rey then Bake</title>
</head>
<body>
        
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons"></i>Rey & Bake</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">Home</i></a></li>
        <li><a href="/muffin"><i class="material-icons">Muffin</i></a></li>
        <li><a href="/cake"><i class="material-icons">Cake</i></a></li>
        <li><a href="/cookie"><i class="material-icons">Cookie</i></a></li>
        <li><a href="/email"><i class="material-icons">Email</i></a></li>
      </ul>
    </div>
  </nav>
</nav>



<%= yield %>  


</form>

</footer>
<script src="main.js"></script>  
</body>
</html>