
   <img class="hero-image" src="bestmuff2.jpg">
   <div class="hero-text">
    <h1>Muffins Rule the World</h1>
    </div>

    <section>
      <header class="muffins">
        <nav> Muffins For Chocolate Lovers</nav>
      </header>
    <div class="container">
    
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="chomuf.jpg">
            </div>
          <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>

     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="chomuff1.jpg">
        </div>
      <div class="card-price"> $4
    </div>
    <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>       </div>    </div>
  </div>
  <div id="space" class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img src="chomuff2.jpg">
      </div>
      <div class="card-price"> $8
      </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
<section>
  <header><nav>BlueBerry for <strong>Who's</strong> Berry</nav>
  </header>
    <div class="container">
      <div class="row">
        <div id="space" class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="blucho.jpg">
            </div>
          <div class="card-price"> $6
        </div>
      <div class="card-content">
          <p>These muffins are a clone of "The Famous Jordan Marsh Blueberry Muffins" — which were indeed </p>
    </div>
  </div>
</div>
<div id="space" class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="bestmuf1.jpg">
    </div>
      <div class="card-price"> $8
    </div>
    <div class="card-content">
          <p>These overstuffed muffins, with their signature sugary crown, makes every day great</p>
  </div>
</div>
  </div>
<div id="space" class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="blumuff.jpg">
    </div>
    <div class="card-price"> $3
    </div>
      <div class="card-content">
          <p>This Blueberry Muffin Bread is just the yummiest bread for breakfast or really any time of the day.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
<header><nav>NYC has the most unique...</nav>
</header>
  <div class="container">
    <div class="row">
      <div id="space" class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="appmuff.jpg">
          </div>
        <div class="card-price"> $5
        </div>
        <div class="card-content">
          <p>If you’re looking for cupcakes with a little kick — namely, booze.</p>
        </div>
      </div>
    </div>
    <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="kauthor.jpg">
        </div>
      <div class="card-price"> $5
    </div>
    <div class="card-content">
          <p>It’s a light and fluffy strawberry cupcake made with bits of fresh strawberries, topped with strawberry buttercream and a fresh strawberry slice.</p>
    </div>
  </div>
</div> <div id="space" class="col s12 m6 l4">
<div class="card">
  <div class="card-image">
    <img src="bake.jpg">
  </div>
    <div class="card-price"> $5
    </div>
      <div class="card-content">
          <p>In NYC, in an area called The West Village, dessert and wine bar, makes incredible and incredibly interesting cupcakes, like this Spice Islands Carrot cupcake.</p>
      </div>
    </div>
  </div>
</div>
</div>