
   <img class="hero-image" src="/image/bestmuff2.jpg">
   <div class="hero-text">
    <h1>Muffins Rule the World</h1>
    </div>

    <section>
    <header class="muffins">
        <nav> Muffins For Chocolate Lovers</nav>
    </header>
        <div class="container">
            <div class="row">
                 <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/chomuf.jpg">
        </div>
        <div class="card-price"> $7
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/chomuff1.jpg">
        </div>
        <div class="card-price"> $4
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/chomuff2.jpg">
        </div>
        <div class="card-price"> $8
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
            </div>
        </div>
    </section>
    <section>
    <header><nav>BlueBerry for <strong>Who's</strong> Berry</nav>
    </header>
        <div class="container">
            <div class="row">
             <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/blucho.jpg">
        </div>
        <div class="card-price"> $6
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate-blueberry" 
          chocolate muffin with 5 ingredients of different chocolate 
          frosting is our favorite homemade chocolate recipe.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/bestmuf1.jpg">
        </div>
        <div class="card-price"> $8
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/blumuff.jpg">
        </div>
        <div class="card-price"> $3
        </div>
        <div class="card-content">
          <p>Hershey's "perfectly chocolate" 
          chocolate cake with 5 ingredient chocolate 
          frosting is our favorite homemade chocolate cake recipe.</p>
        </div>
      </div>
    </div>
            </div>
        </div>
    </section>
    <section>
    <header><nav>NYC has the most unique...</nav>
    </header>
        <div class="container">
            <div class="row">
             <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/appmuff.jpg">
        </div>
        <div class="card-price"> $5
        </div>
        <div class="card-content">
          <p>The apple muffin was adopted as the official 
          state muffin of New York in 1987 through efforts of students 
          throughout New York state (the apple is also the official state 
          fruit of New York, designated in 1976).</p>
        </div>
      </div>
    </div>
     <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/kauthor.jpg">
        </div>
        <div class="card-price"> $5
        </div>
        <div class="card-content">
          <p>A hearty loaf of banana bread is an excellent way 
          to use up a pile of leftover bananas, but sometimes you want a 
          lighter option. These tender banana muffins are crowned with a delightfully 
          crunchy cinnamon crumb topping that lends to their addictive nature.</p>
        </div>
      </div>
    </div> <div id="space" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="image/bake.jpg">
        </div>
        <div class="card-price"> $5
        </div>
        <div class="card-content">
          <p>The name "Baker's Muffin" ($4) doesn't give you much to explain the pastry 
          lookalike of a Buddha hand. City Bakery's muffin-like-thing is a barely sweet 
          hunk of amalgamated dough that crests and whorls up and out of the muffin tin. 
          While its base is smooth and muffin-like, its top is crusty and flaky, almost 
          like a laminate dough.</p>
        </div>
      </div>
    </div>
            </div>
        </div>